@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Kategori Listesi</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <th>@i.CategoryID</th>
            <td>@i.CategoryName</td>
            <td>@i.CategoryDescription</td>

            @if (i.CategoryStatus == true)
            {
                <td><span class="right badge bg-success">Kategori Aktif</span></td>
            }
            else
            {
                <td><span class="right badge badge-danger">Kategori Pasif</span></td>
            }
            <td>
                <a class="btn btn-danger" href="/AdminCategory/DeleteCategory/@i.CategoryID" style="color:white">Sil</a>
                <a class="btn btn-primary" href="/AdminCategory/EditCategory/@i.CategoryID" style="color:white">Güncelle</a>
                <a class="btn btn-success" style="color:white">Başlıklar</a>
            </td>
        </tr>
    }
</table>
<a class="btn btn-info" href="/AdminCategory/AddCategory" style="color:white">Yeni Kategori</a>
<br />
<br />